html,
body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #fff;
}
.content-header {
    padding: 0 15px;
    position: relative;
}
.container .content-wrapper,.container .top-side {
    background-color: #efefef;
}
.content-wrapper, .top-side, .main-footer {
    margin-left: 230px;
    transition: margin-left 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15) 0s;
    z-index: 820;
}
.content-wrapper, .top-side, .main-footer {
    margin-left: 0 !important;
}
.top-side {
    background-color: #ecf0f5;
    min-height: 100%;
    z-index: 800;
}
.content > .patient-form {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f4f4f4;
    padding: 20px;
    position: relative;
}
.navbar .container {
    padding: 0;
    width: 100%;
}

.disp-none {
    display: none;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-underline {
    text-decoration: underline;
}

.m-left-2 {
    margin-left: 2px !important;
}
.m-left-8 {
    margin-left: 8px !important;
}
.m-right-10 {
    margin-right: 10px !important;
}
.m-top-2 {
    margin-top: 2px !important;
}
.m-top-8 {
    margin-top: 8px !important;
}
.m-top-12 {
    margin-top: 12px !important;
}
.m-top-20 {
    margin-top: 20px !important;
}
.m-top-30 {
    margin-top: 30px !important;
}
.m-bottom-2 {
    margin-bottom: 2px !important;
}
.m-bottom-8 {
    margin-bottom: 8px !important;
}
.m-bottom-12 {
    margin-bottom: 12px !important;
}
.m-bottom-20 {
    margin-bottom: 20px !important;
}
.m-bottom-30 {
    margin-bottom: 30px !important;
}
.m-bt-8 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.p-right-left-0 {
    padding: 0 !important;
}
.p-0 {
    padding: 0 !important;
}
.p-2-5 {
    padding: 2px 5px !important;
}
.p-right-10{
    padding-right: 10px !important;
}

.capitalize {
    text-transform: capitalize;
}
.lowercase {
    text-transform: lowercase;
}
.uppercase {
    text-transform: uppercase;
}
.underline {
    text-decoration: underline;
}
.bold-5 {
    border-bottom: 3px solid black;
}

.text-b-i {
    font-size: 16px;
    font-weight: 800;
    font-style: italic;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-brand {
    padding: 9px !important;
}
.main-header .logo {
    background-color: transparent !important;
    float: none;
    height: 100% !important;
    width: auto !important;
}
.main-header > .navbar {
    margin-left: 0 !important;
}
.navbar {
    border-radius: 4px !important;
}
.navbar {
    border: 0 none !important;
    border-radius: 0 !important;
}
.navbar-default {
    margin-bottom: 0 !important;
}
.navbar-collapse {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

/* Carousel */
.carousel-control {
    font-size: 35px;
    margin-top: -20px;
    top: 50%;
}
.carousel-inner .item img {
    width: 100%;
}

/**/
.has-feedback .form-control-feedback {
    top: 23px;
}
#content {
    padding: 20px 0;
}

.physician-search {
    width: 200px;
}

#physician-search-form .field-agencys-agency_name .selection .select2-selection {
    border-radius: 0;
}
.pagination {
    margin-top: 0px !important;
}

/*--- Home Page     */
.home-bottom-banner {
    height: 200px;
    margin-top: 10px;
}

.profile-card, .profile-picture {
    position: relative;
    text-align: center;
}
.profile-card {
    margin-bottom: 20px;
}
.profile-picture {
    float: left;
    width: 200px;

}
/*.profile-overview-content {*/
    /*margin-left: 215px;*/
/*}*/
.profile-overview-content h2 {
    margin-top: 0;
    font-weight: 600;
}
table td, table th {
    text-align: left;
}
.content-header > .breadcrumb {
    position: relative !important;
}
/*--- Table without border and  background    */
.table-noborder {
    border: 0px;
    background-color: transparent;
    vertical-align: middle;
    width: auto;
}
.table-noborder th{
    font-size: 14px;
    color: #999;
    white-space: nowrap;
}
.table-noborder th, .table-noborder td {
    border: 0px !important;
    padding: 4px 20px 4px 8px !important;
}
.table-noborder td{
    font-size: 14px;
    color: #000;
}
.lastactive {
    position: absolute;
    right: 13px;
    top: 0;
}
.avatar-icon {
    font-size: 200px;
}

/*--- Patient Details   */
.patient-diagnosis {
    font-size: 14px;
}
.callout .page-header small{
    color: #fff;
    font-size: 14px;
}
.callout .page-header small::before {
    content: '';
}

/*--- face-to-face-form   */
#face-to-face-form {
    font-size: 14px;
}
#face-to-face-form.form-inline .form-control {
    vertical-align: bottom;
}
#face-to-face-form .form-control {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
}
.form-full-width-field .invoice-col {
    display: table;
}
.form-full-width-field .invoice-col label {
    padding-right: 10px;
    white-space: nowrap;
    width: 1%;
    vertical-align: bottom;
    font-weight: 500;
}
.form-full-width-field .invoice-col .form-group, .form-full-width-field .invoice-col label {
    display: table-cell;
}
.form-full-width-field .invoice-col input {
    min-width: 0px !important;
    width: 99%;
}
.form-full-width-field p {
    line-height: 1.6;
}

.medical-condition .form-group {
    width: 100%;
}
.medical-condition .form-group p {
    line-height: 1 !important;
}

label.checkbox > .icheckbox_square-blue {
    margin-right: 10px;
}
label.checkbox {
    margin-bottom: 10px !important;
}
#face-to-face-form .form-control[disabled], #face-to-face-form .form-control[readonly], #face-to-face-form fieldset[disabled] .form-control {
    background-color: #fff;
}
/*--- plan-of-care-form   */
#plan-of-care label {
    font-weight: 600;
}
#plan-of-care input {
    min-width: inherit;
}
#plan-of-care .form-group, #plan-of-care .form-group input {
    width: 100%;
}
.cert-period .form-group {
    width: 100px !important;
}

#referral-form .field-patients-insurance_policy2 .control-label, #referral-form .field-patients-insurance_policy1 .control-label {
    width: 100%;
}


.section-fixed{ position: fixed; top: 0px; left: 0px; width: 100%; }
/* loading */
.section-loading{ z-index: 15; height: 100%; background-color: #333; background-color: rgba(200,200,200,.5); }
.loading-icon{ position: absolute; top: 50%; left: 50%; width: 50px; height: 50px; margin: -25px 0 0 -25px; padding-top: 9px; background-color: #999; background-color: rgba(0,0,0,.9); border-radius: 9px; text-align: center; }

.styleCheck input[type=checkbox], .styleCheck input[type=radio]{
    display: none;
}
.styleCheck {
    margin: 3px 0;
    width: 100%;
}
#plancare-mental_status .styleCheck {
    width: 25%;
}
#plancare-prognosis .styleCheck {
    width: auto;
}
#plancare-prognosis .styleCheck {
    width: auto;
}
#patientsdiagnosis-necessary_home_services .styleCheck {
    width: 33%;
}
#facetofaceencounter-medical_necessity .styleCheck {
    width: 50%;
}
.styleCheck .txt {
    padding-left: 10px;
}
.styleCheck.inline {
    margin: 3px 0;
    width: auto;
}
.styleCheck .txt{
    line-height: 23px;
}
/*.styleCheck span{*/
    /*width: 10%;*/
/*}*/
.styleCheck.inline span{
    width: auto;
}
/*.styleCheck span:first-child{*/
    /*width: 5%;*/
/*}*/
/*.styleCheck span:last-child{*/
    /*width: 85%;*/
/*}*/
.styleCheck .mark{
    display: block;
    width: 25px;
    height: 25px;
    border:1px solid #ccc;
    background-color: transparent;
    position: relative;
    padding-right: 15px;
    -webkit-transition:all .2s ease-in;
    transition:all .2s ease-in;
}
.styleCheck:hover .mark{
    border:1px solid #3c8dbc;
    box-shadow:0 0 0 1px #3c8dbc inset;
    -webkit-transition:all .2s ease-in;
    transition:all .2s ease-in;
}
.styleCheck input[type=checkbox]:checked ~ .mark, .styleCheck input[type=radio]:checked ~ .mark{
    border:1px solid #3c8dbc;
    box-shadow:0 0 0 1px #3c8dbc inset;
    background: #3c8dbc;
}
.styleCheck:hover input[type=checkbox]:checked ~ .mark, .styleCheck:hover input[type=radio]:checked ~ .mark{
    background: #fff;
}
.styleCheck input[type=checkbox]:checked ~ .mark:before,
.styleCheck input[type=radio]:checked ~ .mark:before {
    content: "";
    font-size: 16px;
    font-family: "Glyphicons Halflings";
    color:#fff;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 0px;
    left: 1px;
    -webkit-transition:all .2s ease-in;
    transition:all .2s ease-in;
}
.styleCheck input[type=radio]:checked ~ .mark:before {
    content: "";
}
.styleCheck:hover input[type=checkbox]:checked ~ .mark:before,
.styleCheck:hover input[type=radio]:checked ~ .mark:before {
    color: #3c8dbc;
}
.allergies {
    width: 100%;
}


.box-body {
    padding: 20px;
}

.hrborder-2 {
    border: 2px solid;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}


.table-plan-care {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    display: table;
    width: auto;
    background-color: #fff;
}
.table-cell-60 {
    display: table-cell;
    width: 60%;
}
.table-cell-50 {
    display: table-cell;
    width: 50%;
}
.table-cell-40 {
    display: table-cell;
    width: 40%;
}
.table-cell-30 {
    display: table-cell;
    width: 30%;
}
.table-cell-20 {
    display: table-cell;
    width: 20%;
}
.table-cell-15 {
    display: table-cell;
    width: 15%;
}
.table-row {
    border-top: 1px solid #000000;
    display:table;
    width:100%;
    clear:both;
}
.table-row > div {
    vertical-align: top;
}
.table-row > * {
    border-right: 1px solid #000000;
}
.table-row > *:last-child {
    border-right: 0px;
}
.table-none {
    border-top: 0px;
}
.border-top {
    /*border-top: 1px solid #000000;*/
}
.border-right {
    /*border-right: 1px solid #000000;*/
}
.cert-period .form-group {
    display: inline-block;
    margin-bottom: 0px !important;
    vertical-align: middle;
}

.dl-horizontal dt {
    clear: unset !important;
    text-align: left;
}



/* modal */
.modal .alert {
    padding: 10px;
    margin-bottom: 10px;
}
.modal .alert ul {
    margin: 0;
}
.preloader {
    padding: 50px;
    background: url('../images/preloader.gif') no-repeat 50% 50% transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}
.dropdown-menu .preloader {
    top: 50px;
    left: 100px;
}
.dropdown-menu .head-message {
    height: 243px;
}
.background-preloader {
    background: rgba(51, 51, 51, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.remove-message, .update-message {
    position: absolute;
    top: 23px;
    z-index: 1;
    right: 10px;
    padding: 4px 8px;
    border: medium none;
    background: transparent;
}
.remove-message:hover, .update-message:hover {
    background: transparent;
    border: medium none;
}
.interlocutor .btn {
    color: white;
}
.update-message {
    right: 35px;
}

.direct-chat-msg, .unread-message {
    position: relative;
    -webkit-transition:all 1.5s ease-in-out 1.5s;
    -moz-transition:all 1.5s ease-in-out 1.5s;
    -ms-transition:all 1.5s ease-in-out 1.5s;
    -o-transition:all 1.5s ease-in-out 1.5s;
    transition:all 1.5s ease-in-out 1.5s;
}
#chat-box {
    height: 350px;
    overflow-y: scroll;
    padding: 10px;
}
#info-msg {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 800;
}
#info-msg .alert {
    width: 300px;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #8B0159;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FCB814;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#chat-box .unread, .head-message .unread {
    background: rgba(136, 136, 136, 0.2);
}
.chat-input-block {
    background: #FFFFFF;
    color: black;
    border: 1px solid #C0CAD5;
    min-height: 34px;
    outline: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 150%;
    word-wrap: break-word;
    cursor: text;
}
.emoji_smile {
    position: absolute;
    z-index: 100;
    padding: 0px;
    margin: 1px 0px 0px 0px;
    right: 1px;
    cursor: pointer;
    opacity: 0.7;
}
.emoji_smile_icon {
    width: 24px;
    height: 24px;
    background: url('../images/im_smile_cross.png') 0px -24px no-repeat;
}
.emoji_smile_icon_on {
    width: 24px;
    height: 24px;
    background: url('../images/im_smile_cross.png') 0px 0px no-repeat;
}
.list-icons{
    position: absolute;
    top: 50px;
    right:100px;
    width: 200px;
    height: 250px;
    background: white;
    overflow: scroll;
}
.list-icons .smile{
    float: left;
    list-style: none;
}

.list-icons .smile img{
    margin: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.file-preview-image {
    max-width: 100%;
}

.settings-detail-ava {
    background-position: center center;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
    object-fit: cover;
    height: 24px;
    width: 24px;
}

.settings-global-ava {
    background-position: center center;
    background-size: cover;
    display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0.2);
    object-fit: cover;
    height: 90px;
    width: 90px;
    z-index: 5;
}

.direct-chat-primary .interlocutor > .direct-chat-text {
    background-color: #3c8dbc;
    color: #ffffff;
}
.interlocutor .direct-chat-text::after, .interlocutor .direct-chat-text::before {
    border-color: transparent #3c8dbc transparent transparent
}
.interlocutor .direct-chat-text {
    border: 1px solid #3c8dbc;
}

.direct-chat-text i {
    vertical-align: bottom;
}