html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.m-tb-5 {
    margin: 5px 0px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.form-signin .help-block {
    font-size: 12px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: none;
    font-size: 12px;
    margin-bottom: 5px;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
#clock {
    height: 190px !important;
    margin-top: -152px !important;
}
.panel-footer {
    background-color: white;
}
.kv-panel-after {
    padding: 0;
}

.text-muted {
    text-transform: capitalize;
}
.file-input img {
    max-width: 100%;
}
.skill-view .activity-icon {
    margin: auto;
    vertical-align: top;
    left: -13px;
}
.skill-view div {
    display: inline-block;
}
.activity-desk.skill-view {
    text-align: left;
    margin: 20px 0 0;
}
.activity-desk.skill-view .fa {
    color: #fff;
}
.profile-information .profile-pic img {
    object-fit: cover;
}
.top-nav img {
    object-fit: cover;
}
.kv-grid-loading input {
    background: transparent none repeat scroll 0 0 !important;
}
