.panel-body {
    transition: opacity .2s ease-in-out;
}

.panel-body.loading {
    opacity: .5;
}

.user-field {
    width: 20%;
    height: 43px;
}

.user-field .form-control {
    margin: -6px 0;
}

.user-status-field {
    width: 10%;
}

.user-short-field {
    width: 15%
}

.user-role-select.form-control.m-bot15 {
    display: none;
}

.users .new-user-link {
    margin-bottom: 10px;
}

.create-user-wrapper h1 {
    margin-bottom: 35px;
}

.create-user-wrapper.panel-body {
    padding-bottom: 35px;
}

.create-user-wrapper .form-horizontal .control-label {
    padding-top: 0;
}

.table-header-order {
    cursor: pointer;
}

.limit-of-entries {
    line-height: 34px;
    margin-right: 15px;
}

.limit-of-entries .dropdown {
    display: inline-block;
    top: -1px;
}

.limit-of-entries .dropdown .btn {
    background: transparent;
    border: 1px solid #ccc;
    padding: 3px 10px;
    margin: 0 5px;
}

.limit-of-entries .dropdown .caret {
    margin-left: 5px;
}

.top-panel {
    margin-top: 5px;
}

.bottom-panel {
    margin-bottom: 20px;
}

.bottom-panel .pagination {
    margin: 0;
}

.create-user-btns {
    margin-left: 15px;
}

.dropdown-menu > li > span {
    clear: both;
    color: #333;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

.dropdown-menu > li > span:hover {
    background-color: #474752;
    color: #ffffff;
    text-decoration: none;
}
.table.table-striped td {
    vertical-align: middle;
}